.background {
    background: linear-gradient(to right, purple, black);
    height: 100vh;
}

 table , input  {
    border: 3px solid black !important;    
}
input {
    width: 100%;
    height: 200px;
    /* text-align: right;
    direction: rtl; */
}
td{
    height:70px !important;
    width: 10px !important;
    color:white !important;
}

.text-purple{
    color:#c45bdc !important;
}
.bg-purple{
    background-color: #c45bdc !important;
}
